<div *ngIf = "(authService.isSecretary | async)">Sorry, you do not have permission to view this page :(
  <P>please click on one of the links on the left</P></div>
<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data..</p>
<mat-card  *ngIf = "(authService.isGuide | async)" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf = "!hasError">The current Temperature at {{city}} is: {{(weatherData$ | async)?.temperature | number:'1.0-0'}}º</mat-card-title>
      <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
      <mat-card-subtitle *ngIf = "!hasError"><img [src] = "image"></mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image [src] = "image">-->
    <mat-card-content>
      <!--<p>Country: {{country}} </p>
      <p>Longitude:{{lon}}, Latitude:{{lat}}</p>-->
      <!--<a routerLink="/city" routerLinkActive="active">Select city</a>-->
      <!---->
    </mat-card-content>
  </mat-card>
  