.example-card {
  max-width: 300px;
  margin-left:350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:rgb(226, 228, 226);
  }

  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgZK30sXuYBqaG70Ld8yC28PWhNSXRVPN4QQ&usqp=CAU');
    background-size: cover;
  }
  